body {
    font-size: 10px !important;
    line-height: none !important;
    -ms-touch-action: none;
    touch-action: none;
}

#main {
    padding-left: 0 !important;
    padding-right: 0 !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 12px !important;
}

.post-content {
    height: 100vh;
    overflow-y: visible;
}

.mont-serrat-light-font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300 !important;
}

.mont-serrat-font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 400 !important;
}

.mont-serrat-medium-font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 500 !important;
}

.mont-serrat-semibold-font {
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
}

.fusion-row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

#main .fusion-row {
    max-width: 1920px;
}

.fusion-builder-row {
    height: 100vh;
}

.fusion-layout-column {
    margin-bottom: 0px !important;
}

.nexatlas-fixed-element {
    position: fixed;
}

/* general */

#nexatlas-logo {
    float: right !important;
    width: 205px !important;
    height: 45px !important;
    padding: 0 !important;
}

#nexatlas-logo img {
    width: 205px !important;
    height: 45px !important;
}

.contrast-with-mostly-everything #logo-contrast-with-mostly-everything {
    display: block;
}

.contrast-with-mostly-everything #logo-contrast-with-grey {
    display: none;
}

.contrast-with-mostly-everything #logo-contrast-with-green {
    display: none;
}

.contrast-with-grey #logo-contrast-with-mostly-everything {
    display: none;
}

.contrast-with-grey #logo-contrast-with-grey {
    display: block;
}

.contrast-with-grey #logo-contrast-with-green {
    display: none;
}

.contrast-with-green #logo-contrast-with-mostly-everything {
    display: none;
}

.contrast-with-green #logo-contrast-with-grey {
    display: none;
}

.contrast-with-green #logo-contrast-with-green {
    display: block;
}

#nexatlas-logo img {
    position: fixed !important;
    top: 3%;
    right: 3%;
    /*top: 45px !important;
    right: 50px !important;*/
}

.nexatlas-scroll-down-tip {
    width: auto !important;
    height: 100px !important;
    font-size: 14px !important;
    color: #FFFFFF !important;
}

.nexatlas-scroll-down-tip img {
    margin-bottom: 0 !important;
    padding-top: 15px !important;
    text-align: center !important;
}


/* icons */

.text-top-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

/* content */

.nexatlas-content {
    background-size: 100% 100% !important;
    padding: 0 !important;
}

.nexatlas-content-title {
    font-size: 44px !important;
    line-height: 53px !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
    text-transform: uppercase;
}

.nexatlas-content-text {
    font-size: 12px;
    line-height: 20px;
    /*font-weight: 300 !important;*/
}

.nexatlas-green-in-text {
    color: #00a66d;
}

.nexatlas-post-hint {
    text-align: left;
}

.nexatlas-post-hint-title {
    color: #353c40;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px;
}

.nexatlas-post-hint-tags {
    color: #989b9d;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: 8px;
}

.nexatlas-post-hint-text {
    color: #353c40;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 5px;
}

.nexatlas-page-overlay {
    background-color: #232323;
    position: fixed !important;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 299 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nexatlas-modal {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    width: 100vw !important;
    height: 100vh !important;
    z-index: 999 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.nexatlas-modal.closed, .nexatlas-page-overlay.closed {
    display: none;
}

.nexatlas-modal .nexatlas-modal-header {
    height: 10%;
    margin-bottom: 0px !important;
}

.nexatlas-modal .nexatlas-modal-header .title {
    text-transform: uppercase;
    text-align: center;
    color: #353c42;
    font-weight: 400;
}

.nexatlas-modal .nexatlas-modal-header h2.title {
    font-size: 24px !important;
    line-height: 30px;
    padding-top: 30px;
}

.nexatlas-modal .nexatlas-modal-content {
    height: 75%;
    margin-bottom: 0px !important;
}

.nexatlas-modal .modal-close {
    margin-bottom: 0px !important;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    line-height: 0px !important;
    height: 25px !important;
    width: 25px !important;
}

.nexatlas-modal .modal-effect-button {
    background: transparent;
    border: none;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 2px solid #8e9294;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.nexatlas-modal .modal-close .close-button::before {
    content: "×";
    font-size: 35px !important;
    font-weight: 300 !important;
    color: #8e9294 !important;
    position: relative;
    top: -9px;
}

.nexatlas-modal .nexatlas-modal-footer {
    margin-bottom: 0px !important;
    height: 15%;
}

.nexatlas-modal .nexatlas-modal-footer .fusion-column-wrapper {
    height: 100%;
    width: 100%;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info {
    height: inherit;
    text-align: center;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info .info {
    position: relative;
    top: 50%;
    width: 35%;
    margin-top: -19px;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info .info.info-left {
    float: left;
    text-align: right;
    margin-left: 15%;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 10px;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info .info.info-right {
    float: right;
    text-align: left;
    margin-right: 15%;
    padding-left: 10px;
}

.grey-background {
    background: #e9e9e9 !important;
}

/* buttons */

.nexatlas-button {
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 30px;
    border: 2px solid #00a66d;
    background: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.nexatlas-button:hover {
    background: #00a66d;
}

.link-button-list {
    display: block;
    text-align: center;
}

a.link-button, a.link-button:link, a.link-button:active {
    text-decoration: underline;
    color: #1e262a;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

a.link-button:hover, a.link-button:visited {
    color: #424242;
}

.nexatlas-call-to-action {
    margin-top: 75px;
    padding-left: 34px;
    padding-right: 34px;
}

.nexatlas-button-contrast {
    background: #00a66d;
}

.contrast-with-grey button.nexatlas-button {
    background: transparent;
    border-color: #00a66d;
    color: #353c40;
}

.contrast-with-grey button.nexatlas-button:hover {
    background: #00a66d;
    color: #FFFFFF;
}

.contrast-with-green button.nexatlas-button {
    background: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.contrast-with-green button.nexatlas-button:hover {
    background: #FFFFFF;
    color: #00b96d;
}

#nexatlas-reusable-buttons-section {
    z-index: 199 !important;
}

.nexatlas-contact-button-section {
    position: fixed !important;
    bottom: 45px !important;
    right: 50px !important;
}

.nexatlas-login-button-section {
    position: fixed !important;
    top: 4% !important;
    right: 330px !important;
}

.contrast-with-mostly-everything .nexatlas-login-button-section a.link-button, .contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:link, .contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:visited {
    color: #FFFFFF;
}

.contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:hover, .contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:active {
    color: #BDBDBD;
}

.contrast-with-grey .nexatlas-login-button-section a.link-button, .contrast-with-grey .nexatlas-login-button-section a.link-button:link, .contrast-with-grey .nexatlas-login-button-section a.link-button:visited {
    color: #353c40;
}

.contrast-with-grey .nexatlas-login-button-section a.link-button:hover, .contrast-with-grey .nexatlas-login-button-section a.link-button:active {
    color: #848484;
}

.contrast-with-green .nexatlas-login-button-section a.link-button, .contrast-with-green .nexatlas-login-button-section a.link-button:link, .contrast-with-green .nexatlas-login-button-section a.link-button:visited {
    color: #1e262a;
}

.contrast-with-green .nexatlas-login-button-section a.link-button:hover, .contrast-with-green .nexatlas-login-button-section a.link-button:active {
    color: #424242;
}

.nexatlas-contact-button {
    position: fixed !important;
    bottom: 45px;
    right: 50px;
}

/* page specific style */

.video-background {
    overflow: visible !important;
}

[id*="nexatlas-"][class*="fusion-fullwidth"] {
	margin-left: 0px !important;
	margin-right: 0px !important;
}

#nexatlas-home {
    color: #FFFFFF !important;
    text-align: center;
}

#nexatlas-home .nexatlas-content-title {
    margin-bottom: 15px;
    color: #FFFFFF !important;
}

#nexatlas-home .fusion-builder-row {
    padding-top: 20% !important;
}

#nexatlas-cartas {
    color: #FFFFFF !important;
}

#nexatlas-cartas .nexatlas-content-title {
    color: #FFFFFF !important;
}

#nexatlas-cartas .fusion-builder-row {
    padding-top: 14% !important;
    margin-left: 20% !important;
}

#nexatlas-cartas .nexatlas-content-left-column {
    width: 38% !important;
    padding-right: 2% !important;
}

#nexatlas-cartas .nexatlas-content-right-column {
    width: 50.0% !important;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list {
    padding: 0 !important;
    margin: 0 !important;
    margin-right: 10px !important;
    list-style-type: none;
    margin-top: 130px !important;
    width: 20%;
    float: left;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li {
    border-bottom: 0;
    border-right: 0;
    padding-top: 21px !important;
    margin-left: 4px !important;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li::before {
    content: '◯';
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    padding-bottom: 0px;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.before-active {
    border-right: 1px solid #FFFFFF;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.active::before {
    display: none;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.active {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding-top: 20px !important;
    padding-bottom: 0 !important;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.active span {
    display: block;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li span {
    padding: 0 !important;
    margin: 0 !important;
    display: none;
    color: #00a66d;
    font-weight: 500;
}

#side-slide-description {
    float: left;
    width: 50%;
    margin-top: 80px;
}

#side-slide-description div {
    display: none;
}

#side-slide-description div.active {
    display: block;
}

#side-slide-description h2 {
    line-height: 70px !important;
    font-size: 70px !important;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 8px !important;
    font-family: 'Montserrat', sans-serif !important;
}

#side-slide-description p {
    font-size: 20px !important;
    line-height: 20px !important;
    font-weight: 300;
}

#nexatlas-rotas {
    color: #353c40 !important;
}

#nexatlas-rotas .nexatlas-content-title {
    color: #353c40 !important;
}

#nexatlas-rotas .fusion-builder-row {
    padding-top: 14% !important;
    margin-left: 20% !important;
}

#nexatlas-rotas .nexatlas-content-left-column {
    width: 38% !important;
    padding-right: 2% !important;
}

#nexatlas-rotas .nexatlas-content-right-column {
    width: 45.0% !important;
}

.nexatlas-route-page-design object {
    width: 68%;
}

#nexatlas-meteorologia {
    color: #ffffff !important;
}

#nexatlas-meteorologia .nexatlas-content-title {
    color: #FFFFFF !important;
}

#nexatlas-meteorologia .fusion-builder-row {
    padding-top: 14% !important;
    margin-left: 20% !important;
}

#nexatlas-beta {
    color: #ffffff !important;
    text-align: center;
}

#nexatlas-beta .nexatlas-content-title {
    color: #FFFFFF !important;
}

#nexatlas-beta .fusion-builder-row {
    padding-top: 14% !important;
}

#nexatlas-blog {
    color: #353c40 !important;
    text-align: center;
}

#nexatlas-blog .nexatlas-content-title {
    color: #353c40 !important;
}

#nexatlas-blog>.fusion-builder-row {
    padding-top: 14% !important;
}

#nexatlas-press>.fusion-builder-row {
    padding-top: 10% !important;
    font-weight: 300 !important;
}

#nexatlas-press .nexatlas-content-left-column {
    text-align: right;
    width: 42% !important;
    padding-left: 12%;
    padding-right: 8px;
    margin-bottom: 0px !important;
}

#nexatlas-press .nexatlas-content-left-column .sided-title {
    color: #1e262a;
    margin-top: 0px !important;
    font-size: 31px !important;
    line-height: 32px !important;
}

#nexatlas-press .nexatlas-content-right-column {
    color: #FFFFFF;
    font-size: 14px !important;
    line-height: 15px !important;
    text-align: left;
    width: 58% !important;
    padding-right: 22%;
    margin-bottom: 0px !important;
}

#nexatlas-press .nexatlas-content-right-column p {
    margin-bottom: 8px !important;
}

#press-text-top-image img {
    height: 327px;
    width:  612px;
}

#nexatlas-press-bottom-images {
    height: 38px;
}

#press-accelerated-by {
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 38px !important;
    line-height: 38px;
    font-size: 10px !important;
}

#press-accelerated-images {
    float: left;
    width: 45% !important;
    height: 38px !important;
}

#press-accelerated-images img {
    float: left;
    margin-left: 30px;
}

#press-accelerated-images img#seed {
    height: 38px !important;
    width: 38px;
}

#press-accelerated-images img#start-up-chile {
    height: 31px !important;
    width: 90px;
    margin-top: 4px;
}

#press-link-button-list {
    margin-top: 2%;
}

/* nav menu */

#small-hamburger-menu {
    z-index: 10;
    cursor: pointer;
    height: 4em;
    width: 4em;
    display: block;
    position: fixed;
    top: 3%;
    left: 6%;
}

#small-hamburger-menu .st0 {
    transition: fill 250ms ease;
    fill: #4B5155
}

#small-hamburger-menu:hover .st0 {
    fill: #FFF
}


/*#navigation-menu*/

#navigation-menu {
    position: fixed;
    z-index: 99;
    text-shadow: none;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-left: 5%;
    border-left: 1px solid #95999a;
    display: none;
    height: 100%;
}

#nexatlas-nav-menu {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    bottom: 0;
    z-index: 99
}

#navigation-menu a {
    padding: .2em 0 0 1em;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

#navigation-menu-menu {
    padding: 0;
    margin: 0;
    color: #95999a;
    font-weight: 300;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navigation-menu-menu li {
    left: 0;
    position: relative;
}

#navigation-menu-menu li.menu-hamburger {
    height: 4em;
    width: 4em;
    margin-left: 10%;
}

#navigation-menu-menu li.menu-hamburger .st0 {
    fill: #4B5155;
}

#navigation-menu-menu li.menu-hamburger:hover .st0 {
    fill: #FFF;
}

#navigation-menu .action {
    margin-left: -4.25px
}

#navigation-menu .action::before {
    content: "•";
    font-size: 30px;
    color: #95999a
}

#navigation-menu .action:active:before, #navigation-menu .menu-icon-verde:before {
    content: url(http://alfa.nexatlas.com/wp-content/uploads/2017/04/destaque.png)
}

#navigation-menu li.action a:hover {
    color: #00a66d;
    font-size: 16px
}

#navigation-menu .menu-icon-verde:before {
    margin-left: 1px
}

#navigation-menu .menu-icon-branco:before {
    content: url(../../images/destaque-branco.png);
    margin-left: 1px
}

#navigation-menu .separator {
    text-indent: -.5em
}

#navigation-menu .separator::before {
    content: "-";
    font-size: 25px;
    color: #95999a
}

#side-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

#side-navigation a.mPS2id-highlight, #navigation-menu-menu a.mPS2id-highlight {
    color: #00a66d;
}

#navigation-menu .menu-icon-verde a.mPS2id-highlight {
    color: #00a66d;
}

#navigation-menu.menu-nexatlas-branco {
    border-left: 1px solid #4b5155
}

#navigation-menu.menu-nexatlas-branco ul {
    color: #4b5155
}

#navigation-menu, #navigation-menu.menu-nexatlas-branco a.mPS2id-highlight, #navigation-menu .menu-nexatlas-branco a:hover {
    color: #FFF!important
}

#navigation-menu.menu-nexatlas-branco .action:hover:before {
    content: url(http://alfa.nexatlas.com/wp-content/uploads/2017/04/destaque-branco.png)
}

#navigation-menu.menu-nexatlas-branco li.action:hover {
    color: #FFF
}

#side-navigation .closebtn {
    position: absolute;
    top: 2%;
    left: 50%;
    height: 4em;
    width: 4em;
    transform: translate(-50%, 0)
}

#side-navigation .closebtn .st0 {
    transition: fill 250ms ease;
    fill: #4B5155
}

#side-navigation .closebtn:hover .st0 {
    fill: #FFF
}

#side-navigation .menu-sidenav {
    list-style: none;
    margin: 8em 10% 0 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 2;
}

#side-navigation .menu-sidenav li {
    /*margin: 4em 0;*/
    flex-basis: 4em;
    position: relative;
}

#side-navigation .menu-sidenav li a {
    font-size: 22px!important;
    color: #FFF!important
}

#side-navigation .menu-sidenav li a:hover {
    color: #00a66d!important
}

#side-navigation .menu-sidenav li sup {
    font-size: 10px!important;
    position: absolute;
    top: -1em;
    margin: -.5em 0 0 10px !important
}

#side-navigation .sidenav-languages, #side-navigation .sidenav-social-icons {
    list-style: none;
    text-align: right;
    margin-right: 10%
}

#side-navigation .menu-login {
    font-size: 18px!important
}

#side-navigation .sidenav-languages {
    font-size: 16px
}

#side-navigation .sidenav-languages li {
    display: inline;
    margin-left: .3em
}

#side-navigation .sidenav-languages li a {
    color: #818588;
    font-size: 16px
}

#side-navigation .sidenav-languages li a.active {
    color: #FFF;
    font-size: 16px
}

#side-navigation .sidenav-social-icons {
    font-size: 22px
}

#side-navigation .sidenav-social-icons li {
    display: inline;
    margin-left: 1em
}

#side-navigation .sidenav-social-icons li a:hover {
    font-size: 22px;
    color: #00a66d
}

#side-navigation.pushy {
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: #000;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* defined width for purposes of hidden  */
    padding-right: 1%;
}

#side-navigation.pushy-left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

#side-navigation.pushy-left-open {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#side-navigation.container-left-push, #side-navigation.push-push {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

#container, #side-navigation.push, #side-navigation.pushy {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99)
}

#side-navigation.overlay-pushy {
    display: none
}

#side-navigation.overlay-pushy.overlay-active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .5);
    -webkit-animation: fade .5s;
    -moz-animation: fade .5s;
    -o-animation: fade .5s;
    animation: fade .5s
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media (min-width:48em) and (min-height: 26em) {
    #small-hamburger-menu {
        display: none;
    }
    #navigation-menu {
        display: block
    }
}

@media all and (max-width: 1024px) {
 	/* general */
	.nexatlas-scroll-down-tip {
		display: none;
	}
    #side-navigation.pushy {
        padding-right: 2%;
    }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
	/* logo */
	#nexatlas-logo img {
		width: 163px !important;
		height: 33px !important;
	}
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
	/* general */
	.nexatlas-scroll-down-tip {
		font-size: 10px !important;
	}
	/* page specific style */
	#side-slide-description h2 {
		line-height: 44px !important;
		font-size: 44px !important;
	}
	#side-slide-description p {
		line-height: 12px !important;
		font-size: 12px !important;
	}
    #press-text-top-image img {
        height: auto !important;
        width:  34%;
    }
    #press-accelerated-images img#seed {
        height: auto !important;
        width: 21px;
    }
    #press-accelerated-images img#start-up-chile {
        height: auto !important;
        width: 53px;
    }
}

@media all and (max-width: 768px) {
	/* logo */
	#nexatlas-logo img {
		width: 143px !important;
		height: 28px !important;
	}
	/* general */
	.nexatlas-scroll-down-tip {
		font-size: 10px !important;
	}
	/* buttons */
	.nexatlas-button {
		font-size: 12px !important;
	}
    .nexatlas-contact-button {
        bottom: 3%;
        right: 3%;
    }
	/* page specific style */
	#side-slide-description h2 {
		line-height: 44px !important;
		font-size: 44px !important;
	}
	#side-slide-description p {
		line-height: 20px !important;
		font-size: 20px !important;
	}
	/* page specific style */
    .text-top-icon {
        height: 40px;
        width: 40px;
        margin-bottom: 5px;
    }
    .nexatlas-content-title {
        font-size: 44px !important;
        line-height: 53px !important;
        font-weight: 600 !important;
        margin-bottom: 5px !important;
    }
    .post-content p {
        margin-bottom: 10px;
    }
    #nexatlas-cartas .nexatlas-content-left-column {
        padding-right: 2% !important;
        margin-left: 2% !important;
        width: 96% !important;
    }
    #nexatlas-cartas .nexatlas-content-right-column {
        margin-right: 2% !important;
        width: 96% !important;
    }
    #nexatlas-cartas .nexatlas-content-right-column .hidden-list {
        margin-top: 3% !important;
    }
    #side-slide-description {
        width: 55%;
        margin-top: 0%;
    }
	#nexatlas-cartas .fusion-builder-row {
		padding-top: 15% !important;
		margin-left: 2% !important;
		margin-right: 2% !important;
	}
    #nexatlas-rotas .fusion-builder-row {
        margin-left: 2% !important;
    }
    #nexatlas-rotas .nexatlas-content-left-column {
        width: 96% !important;
    }
    #nexatlas-rotas .nexatlas-content-right-column {
        width: 60% !important;
        margin-top: -10px;
    }
    #nexatlas-meteorologia .fusion-builder-row {
        margin-left: 2% !important;
    }
    #nexatlas-press .nexatlas-content-left-column {
        padding-right: 2%;
        padding-left: 2%;
        width: 100% !important;
        text-align: center;
    }
    #nexatlas-press .nexatlas-content-right-column {
        padding-right: 2%;
        padding-left: 2%;
        width: 100% !important;
        font-size: 12px !important;
        line-height: 13px !important;
        text-align: center;
    }
    #nexatlas-press .nexatlas-content-left-column .sided-title {
        font-size: 28px !important;
        line-height: 28px !important;
    }
    #press-accelerated-by {
        width: 48% !important;
        text-align: right !important;
        display: none;
    }
    #press-text-top-image img {
        height: auto !important;
        width:  360px;
    }
    #nexatlas-press-bottom-images {
        padding-top: 4%;
        width: 40% !important;
        margin-right: 2% !important;
    }
    #press-accelerated-images img {
        padding-top: 5px;
    }
    #press-accelerated-images img#seed {
        height: auto !important;
        width: 21px;
    }
    #press-accelerated-images img#start-up-chile {
        height: auto !important;
        width: 53px;
    }
    .link-button-list {
        top: -20px;
        position: relative;
        left: -100px;
    }
}
