#content > section {
    overflow-y: auto
}

.page {
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.mont-serrat-light-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300 !important
}

.mont-serrat-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400 !important
}

.mont-serrat-medium-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500 !important
}

.mont-serrat-semibold-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600 !important
}

.fixed-element {
    position: fixed
}


/* general */

#nexatlas-logo {
    float: right;
    width: 205px
    /*height: 45px*/
    /*padding: 0;*/
}

#nexatlas-logo img {
    position: fixed;
    top: 3em;
    right: 3em;
    width: 205px;
    height: 45px;
    z-index: 199
}

.contrast-with-mostly-everything #logo-contrast-with-mostly-everything {
    display: block
}

.contrast-with-mostly-everything #logo-contrast-with-grey {
    display: none
}

.contrast-with-mostly-everything #logo-contrast-with-green {
    display: none
}

.contrast-with-grey #logo-contrast-with-mostly-everything {
    display: none
}

.contrast-with-grey #logo-contrast-with-grey {
    display: block
}

.contrast-with-grey #logo-contrast-with-green {
    display: none
}

.contrast-with-green #logo-contrast-with-mostly-everything {
    display: none
}

.contrast-with-green #logo-contrast-with-grey {
    display: none
}

.contrast-with-green #logo-contrast-with-green {
    display: block
}

.nexatlas-scroll-down-tip {
    width: auto;
    height: 100px;
    font-size: 14px;
    color: #FFFFFF
}

.nexatlas-scroll-down-tip img {
    padding-top: 15px;
    text-align: center
}

.video-background {
    background: url(../images/background/home.jpg);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -99;
    overflow: hidden;
}

.video-background iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
}

/* icons */

.text-top-icon {
    height: 60px;
    width: 60px;
    margin-bottom: 20px
}

/* content */

.nexatlas-content {
    background-size: 100% 100%
}

.nexatlas-content .nexatlas-content-left-column {
    /*float: left*/
}

.nexatlas-content .nexatlas-content-right-column {
    /*float: left*/
}

.nexatlas-content-title {
    font-size: 44px;
    line-height: 53px;
    font-weight: 600;
    margin-bottom: 20px;
    text-transform: uppercase;
    margin-top: 0
}

.nexatlas-content-title.centered {
    text-align: center
}

.nexatlas-content-text {
    font-size: 12px;
    line-height: 20px
    /*font-weight: 300 !important;*/
}

.nexatlas-green-in-text {
    color: #00a66d
}

.nexatlas-post-hint {
    text-align: left
}

.nexatlas-post-hint-title {
    color: #353c40;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 8px
}

.nexatlas-post-hint-tags {
    color: #989b9d;
    font-size: 9px;
    font-weight: 300;
    margin-bottom: 8px
}

.nexatlas-post-hint-text {
    color: #353c40;
    font-size: 10px;
    font-weight: 300;
    margin-bottom: 5px
}

.nexatlas-page-overlay {
    background-color: #232323;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 299;
    margin-left: 0;
    margin-right: 0;
}

.nexatlas-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    margin-left: 0;
    margin-right: 0;
}

.nexatlas-modal.closed, .nexatlas-page-overlay.closed {
    display: none;
}

.nexatlas-modal .nexatlas-modal-header {
    height: 10%;
    margin-bottom: 0px;
}

.nexatlas-modal .nexatlas-modal-header .title {
    text-transform: uppercase;
    text-align: center;
    color: #353c42;
    font-weight: 400
}

.nexatlas-modal .nexatlas-modal-header h2.title {
    font-size: 24px;
    line-height: 30px;
    padding-top: 30px;
    margin-top: 0
}

.nexatlas-modal .nexatlas-modal-content {
    height: 75%;
    margin-bottom: 0px
}

.nexatlas-modal .modal-close {
    margin-bottom: 0px;
    margin-top: 30px;
    margin-right: 30px;
    float: right;
    line-height: 0px;
    height: 25px;
    width: 25px
}

.nexatlas-modal .modal-effect-button {
    background: transparent;
    border: none;
    width: inherit;
    height: inherit;
    padding: 0;
    margin: 0;
    cursor: pointer;
    border: 2px solid #8e9294;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px
}

.nexatlas-modal .modal-close .close-button::before {
    content: "×";
    font-size: 35px;
    font-weight: 300;
    color: #8e9294;
    position: relative;
    top: -9px
}

.nexatlas-modal .nexatlas-modal-footer {
    margin-bottom: 0px;
    height: 15%;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info {
    height: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info .info {
    flex-basis: 35%;
    align-self: center;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info .info.info-left {
    text-align: right;
    text-transform: uppercase;
    font-size: 12px;
    padding-right: 1%;
}

.nexatlas-modal .nexatlas-modal-footer .modal-footer-info .info.info-right {
    text-align: left;
    padding-left: 1%
}

.grey-background {
    background: #e9e9e9
}

/* buttons */

.nexatlas-button {
    font-size: 15px;
    color: #FFFFFF;
    border-radius: 30px;
    border: 2px solid #00a66d;
    background: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    font-weight: bold;
    cursor: pointer;
}

.nexatlas-button:hover {
    background: #00a66d;
}

.link-button-list {
    display: block;
    text-align: center;
}

a.link-button, a.link-button:link, a.link-button:active {
    text-decoration: underline;
    color: #1e262a;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 16px;
}

a.link-button:hover, a.link-button:visited {
    color: #424242;
}

.nexatlas-call-to-action {
    padding-left: 34px;
    padding-right: 34px
}

.nexatlas-button-margin-top {
    margin-top: 75px;
    display: inline-block
}

.nexatlas-button-contrast {
    background: #00a66d
}

.contrast-with-grey button.nexatlas-button {
    background: transparent;
    border-color: #00a66d;
    color: #353c40
}

.contrast-with-grey button.nexatlas-button:hover {
    background: #00a66d;
    color: #FFFFFF;
}

.contrast-with-green button.nexatlas-button {
    background: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.contrast-with-green button.nexatlas-button:hover {
    background: #FFFFFF;
    color: #00b96d;
}

#nexatlas-reusable-buttons-section {
    z-index: 199;
}

.nexatlas-contact-button-section {
    position: fixed;
    bottom: 45px;
    right: 50px;
}

.nexatlas-login-button-section {
    position: fixed;
    top: 3em;
    right: 330px;
}

.contrast-with-mostly-everything .nexatlas-login-button-section a.link-button, .contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:link, .contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:visited {
    color: #FFFFFF;
}

.contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:hover, .contrast-with-mostly-everything .nexatlas-login-button-section a.link-button:active {
    color: #BDBDBD;
}

.contrast-with-grey .nexatlas-login-button-section a.link-button, .contrast-with-grey .nexatlas-login-button-section a.link-button:link, .contrast-with-grey .nexatlas-login-button-section a.link-button:visited {
    color: #353c40;
}

.contrast-with-grey .nexatlas-login-button-section a.link-button:hover, .contrast-with-grey .nexatlas-login-button-section a.link-button:active {
    color: #848484;
}

.contrast-with-green .nexatlas-login-button-section a.link-button, .contrast-with-green .nexatlas-login-button-section a.link-button:link, .contrast-with-green .nexatlas-login-button-section a.link-button:visited {
    color: #1e262a;
}

.contrast-with-green .nexatlas-login-button-section a.link-button:hover, .contrast-with-green .nexatlas-login-button-section a.link-button:active {
    color: #424242;
}

.nexatlas-contact-button {
    position: fixed;
    bottom: 45px;
    right: 50px;
}


/* page specific style */


/*.video-background {
    overflow: visible !important;
}*/

#nexatlas-home {
    color: #FFFFFF;
    text-align: center;
}

#nexatlas-home .nexatlas-content {
    padding-top: 20%;
}

#nexatlas-home .nexatlas-content-title {
    margin-bottom: 15px;
    color: #FFFFFF;
}

#nexatlas-cartas {
    color: #FFFFFF;
    padding-bottom: 5%;
}

#nexatlas-cartas .nexatlas-content {
    padding-top: 14%;
    margin-left: 20%;
}

#nexatlas-cartas .nexatlas-content-title {
    color: #FFFFFF;
}

#nexatlas-cartas .nexatlas-content-left-column {
    width: 42%;
    padding-right: 4%;
}

#nexatlas-cartas .nexatlas-content-right-column {
    width: 50.0%;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list {
    padding: 0;
    margin: 0;
    margin-right: 10px;
    list-style-type: none;
    margin-top: 140px;
    width: 25%;
    float: left;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li {
    border-bottom: 0;
    border-right: 0;
    padding-top: 21px;
    margin-left: 4px;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li::before {
    content: '◯';
    font-size: 12px;
    line-height: 12px;
    cursor: pointer;
    padding-bottom: 0px;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.before-active {
    border-right: 1px solid #FFFFFF;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.active::before {
    display: none;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.active {
    border-bottom: 1px solid #FFFFFF;
    border-right: 1px solid #FFFFFF;
    padding-top: 20px;
    padding-bottom: 0;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li.active span {
    display: block;
}

#nexatlas-cartas .nexatlas-content-right-column .hidden-list li span {
    padding: 0;
    margin: 0;
    display: none;
    color: #00a66d;
    font-weight: 500;
}

#side-slide-description {
    float: left;
    width: 50%;
    margin-top: 80px;
}

#side-slide-description div {
    display: none;
}

#side-slide-description div.active {
    display: block;
}

#side-slide-description h2 {
    line-height: 70px;
    font-size: 70px;
    font-weight: 300;
    color: #FFFFFF;
    margin-bottom: 8px;
    font-family: 'Montserrat', sans-serif;
}

#side-slide-description p {
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}

#nexatlas-rotas {
    color: #353c40;
}

#nexatlas-rotas .nexatlas-content {
    padding-top: 10%;
    margin-left: 20%;
}

#nexatlas-rotas .nexatlas-content-title {
    color: #353c40;
}

#nexatlas-rotas .nexatlas-content-left-column {
    width: 42%;
    padding-right: 2%;
}

#nexatlas-rotas .nexatlas-content-right-column {
    width: 45.0%;
}

.nexatlas-route-page-design object {
    width: 85%;
}

#nexatlas-meteorologia {
    color: #ffffff;
}

#nexatlas-meteorologia .nexatlas-content {
    padding-top: 14%;
    margin-left: 20%;
}

#nexatlas-meteorologia .nexatlas-content-title {
    color: #FFFFFF;
}

#nexatlas-press .nexatlas-content {
    padding-top: 8%;
    font-weight: 300;
}

#nexatlas-press .nexatlas-content-left-column {
    text-align: right;
    width: 42%;
    padding-left: 12%;
    padding-right: 8px;
    margin-bottom: 0px;
}

#nexatlas-press .nexatlas-content-left-column .sided-title {
    color: #1e262a;
    margin-top: 0px;
    font-size: 31px;
    line-height: 32px;
}

#nexatlas-press .nexatlas-content-right-column {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 15px;
    text-align: left;
    width: 58%;
    padding-right: 22%;
    margin-bottom: 0px;
}

#nexatlas-press .nexatlas-content-right-column p {
    margin-bottom: 8px;
}

#press-text-top-image img {
    height: 327px;
    width: 612px;
}

#nexatlas-press-bottom-images {
    height: 38px;
}

#press-accelerated-by {
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
    float: left;
    height: 38px;
    line-height: 38px;
    font-size: 10px;
}

#press-accelerated-images {
    float: left;
    width: 45%;
    height: 38px;
}

#press-accelerated-images img {
    float: left;
    margin-left: 30px;
}

#press-accelerated-images img#seed {
    height: 38px;
    width: 38px;
}

#press-accelerated-images img#start-up-chile {
    height: 31px;
    width: 90px;
    margin-top: 4px;
}

#press-link-button-list {
    margin: 2% 0;
}


/* nav menu */

#small-hamburger-menu {
    z-index: 10;
    cursor: pointer;
    height: 4em;
    width: 4em;
    display: block;
    position: fixed;
    top: 3em;
    left: 3em;
}

#small-hamburger-menu .st0 {
    transition: fill 250ms ease;
    fill: #4B5155
}

#small-hamburger-menu:hover .st0 {
    fill: #FFF
}


/*#navigation-menu*/

#navigation-menu {
    position: fixed;
    z-index: 99;
    text-shadow: none;
    font-size: 1.25em;
    line-height: 1.25em;
    margin-left: 5%;
    border-left: 1px solid #95999a;
    display: none;
    height: 100%;
}

#nexatlas-nav-menu {
    position: fixed;
    left: 0 !important;
    top: 0 !important;
    bottom: 0;
    z-index: 99
}

#navigation-menu a {
    padding: .2em 0 0 1em;
    text-decoration: none;
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    margin: auto;
    transform: translateY(-50%);
}

#navigation-menu-menu {
    padding: 0;
    margin: 0;
    color: #95999a;
    font-weight: 300;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#navigation-menu-menu li {
    left: 0;
    position: relative;
}

#navigation-menu-menu li.menu-hamburger {
    height: 4em;
    width: 4em;
    margin-left: 10%;
}

#navigation-menu-menu li.menu-hamburger .st0 {
    fill: #4B5155;
}

#navigation-menu-menu li.menu-hamburger:hover .st0 {
    fill: #FFF;
}

#navigation-menu .action {
    margin-left: -4.25px
}

#navigation-menu .action::before {
    content: "•";
    font-size: 30px;
    color: #95999a
}

#navigation-menu .action:active:before, #navigation-menu .menu-icon-verde:before {
    content: url(http://alfa.nexatlas.com/wp-content/uploads/20../destaque.png)
}

#navigation-menu li.action a:hover {
    color: #00a66d;
    font-size: 16px
}

#navigation-menu .menu-icon-verde:before {
    margin-left: 1px
}

#navigation-menu .menu-icon-branco:before {
    content: url(../images/general/destaque-branco.png);
    margin-left: 1px
}

#navigation-menu .separator {
    text-indent: -.5em
}

#navigation-menu .separator::before {
    content: "-";
    font-size: 25px;
    color: #95999a
}

#side-navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
}

#side-navigation a.mPS2id-highlight, #navigation-menu-menu a.mPS2id-highlight {
    color: #00a66d;
}

#navigation-menu .menu-icon-verde a.mPS2id-highlight {
    color: #00a66d;
}

#navigation-menu.menu-nexatlas-branco {
    border-left: 1px solid #4b5155
}

#navigation-menu.menu-nexatlas-branco ul {
    color: #4b5155
}

#navigation-menu, #navigation-menu.menu-nexatlas-branco a.mPS2id-highlight, #navigation-menu .menu-nexatlas-branco a:hover {
    color: #FFF !important
}

#navigation-menu.menu-nexatlas-branco .action:hover:before {
    content: url(http://alfa.nexatlas.com/wp-content/uploads/20../destaque-branco.png)
}

#navigation-menu.menu-nexatlas-branco li.action:hover {
    color: #FFF
}

#side-navigation .closebtn {
    position: absolute;
    top: 2%;
    left: 50%;
    height: 4em;
    width: 4em;
    transform: translate(-50%, 0)
}

#side-navigation .closebtn .st0 {
    transition: fill 250ms ease;
    fill: #4B5155
}

#side-navigation .closebtn:hover .st0 {
    fill: #FFF
}

#side-navigation .menu-sidenav {
    list-style: none;
    margin: 8em 10% 0 0;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    flex-grow: 2;
}

#side-navigation .menu-sidenav li {
    /*margin: 4em 0;*/
    flex-basis: 4em;
    position: relative
}

#side-navigation .menu-sidenav li a {
    font-size: 22px !important;
    color: #FFF !important;
    text-transform: uppercase
}

#side-navigation .menu-sidenav li a:hover {
    color: #00a66d !important
}

#side-navigation .menu-sidenav li sup {
    font-size: 10px !important;
    position: absolute;
    top: -1em;
    margin: -.5em 0 0 10px !important
}

#side-navigation .sidenav-languages, #side-navigation .sidenav-social-icons {
    list-style: none;
    text-align: right;
    margin-right: 10%
}

#side-navigation .menu-login {
    font-size: 18px !important
}

#side-navigation .sidenav-languages {
    font-size: 16px
}

#side-navigation .sidenav-languages li {
    display: inline;
    margin-left: .3em
}

#side-navigation .sidenav-languages li a {
    color: #818588;
    font-size: 16px
}

#side-navigation .sidenav-languages li a.active {
    color: #FFF;
    font-size: 16px
}

#side-navigation .sidenav-social-icons {
    font-size: 22px
}

#side-navigation .sidenav-social-icons li {
    display: inline;
    margin-left: 1em
}

#side-navigation .sidenav-social-icons li a:hover {
    font-size: 22px;
    color: #00a66d
}

#side-navigation.pushy {
    position: fixed;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: #000;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    min-width: 25%;
}

#side-navigation.pushy-left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    -moz-transform: translate3d(-100%, 0, 0);
    -ms-transform: translate3d(-100%, 0, 0);
    -o-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0)
}

#side-navigation.pushy-left-open {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#side-navigation.container-left-push, #side-navigation.push-push {
    -webkit-transform: translate3d(100%, 0, 0);
    -moz-transform: translate3d(100%, 0, 0);
    -ms-transform: translate3d(100%, 0, 0);
    -o-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0)
}

#container, #side-navigation.push, #side-navigation.pushy {
    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
    transition: transform .2s cubic-bezier(.16, .68, .43, .99)
}

#side-navigation.overlay-pushy {
    display: none
}

#side-navigation.overlay-pushy.overlay-active {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, .5);
    -webkit-animation: fade .5s;
    -moz-animation: fade .5s;
    -o-animation: fade .5s;
    animation: fade .5s
}

@keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-moz-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-o-keyframes fade {
    0% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@media (min-width:48em) and (min-height: 26em) {
    #small-hamburger-menu {
        display: none;
    }
    #navigation-menu {
        display: block
    }
}

@media all and (max-width: 1024px) {
    /* general */
    .nexatlas-scroll-down-tip {
        display: none
    }
    #side-navigation.pushy {
        padding-right: 2%
    }
}

@media all and (min-width: 768px) and (max-width: 1280px) {
    /* logo */
    #nexatlas-logo img {
        width: 163px !important;
        height: 33px !important
    }
}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    /* general */
    .nexatlas-scroll-down-tip {
        font-size: 10px !important
    }
    /* page specific style */
    #side-slide-description h2 {
        line-height: 44px !important;
        font-size: 44px !important
    }
    #side-slide-description p {
        line-height: 12px !important;
        font-size: 12px !important
    }
    #press-text-top-image img {
        height: auto !important;
        width: 34%
    }
    #press-accelerated-images img#seed {
        height: auto !important;
        width: 21px
    }
    #press-accelerated-images img#start-up-chile {
        height: auto !important;
        width: 53px
    }
}

@media all and (max-width: 768px) {
    /* logo */
    #nexatlas-logo img {
        width: 143px !important;
        height: 28px !important
    }
    /* general */
    .nexatlas-scroll-down-tip {
        font-size: 10px !important
    }
    /* buttons */
    .nexatlas-button {
        font-size: 12px !important
    }
    .nexatlas-contact-button {
        bottom: 3%;
        right: 3%
    }
    /* page specific style */
    #side-slide-description h2 {
        line-height: 44px !important;
        font-size: 44px !important
    }
    #side-slide-description p {
        line-height: 20px !important;
        font-size: 20px !important
    }
    /* page specific style */
    .text-top-icon {
        height: 40px;
        width: 40px;
        margin-bottom: 5px
    }
    .nexatlas-content-title {
        font-size: 3.6em !important;
        line-height: 53px !important;
        font-weight: 600 !important;
        margin-bottom: 5px !important
    }
    .post-content p {
        margin-bottom: 10px
    }
    #nexatlas-cartas .nexatlas-content-left-column {
        padding-right: 2%;
        margin-left: 2%;
        width: 96%;
    }
    #nexatlas-cartas .nexatlas-content-right-column {
        margin-right: 2%;
        width: 96%
    }
    #nexatlas-cartas .nexatlas-content-right-column .hidden-list {
        margin-top: 3%
    }
    #side-slide-description {
        width: 55%;
        margin-top: 0%
    }
    #nexatlas-cartas .nexatlas-content {
        padding-top: 16%;
        margin-left: 3%;
        margin-right: 3%
    }
    #nexatlas-rotas .nexatlas-content {
        margin-left: 3%;
        margin-right: 3%
    }
    #nexatlas-rotas .nexatlas-content-left-column {
        width: 96%
    }
    #nexatlas-rotas .nexatlas-content-right-column {
        width: 60%;
        /*margin-top: -10px*/
    }
    #nexatlas-meteorologia .nexatlas-content {
        /*margin-top: ;*/
        margin-left: 3%;
        margin-right: 3%
    }
    #nexatlas-press .nexatlas-content-left-column {
        padding-right: 2%;
        padding-left: 2%;
        width: 100%;
        text-align: center
    }
    #nexatlas-press .nexatlas-content-right-column {
        padding-right: 2%;
        padding-left: 2%;
        width: 100%;
        font-size: 12px;
        line-height: 13px;
        text-align: center
    }
    #nexatlas-press .nexatlas-content-left-column .sided-title {
        font-size: 28px;
        line-height: 28px
    }
    #press-accelerated-by {
        width: 48%;
        text-align: right;
        display: none
    }
    #press-text-top-image img {
        height: auto;
        width: 360px
    }
    #nexatlas-press-bottom-images {
        padding-top: 4%;
        width: 40%;
        margin-right: 2%
    }
    #press-accelerated-images img {
        padding-top: 5px
    }
    #press-accelerated-images img#seed {
        height: auto;
        width: 21px
    }
    #press-accelerated-images img#start-up-chile {
        height: auto;
        width: 53px
    }
    .link-button-list {
        position: relative;
    }
}

@media all and (min-width: 701px) {
  .video-background iframe { display: inline; }       
}

@media all and (max-width: 700px) {
  .video-background iframe { display: none; }       
}

@media (min-aspect-ratio: 16/9) {
  .video-background iframe { height: 300%; top: -100%; }
}
@media (max-aspect-ratio: 16/9) {
  .video-background iframe { width: 300%; left: -100%; }
}