#nexatlas-press {
    display: flex;
}

#nexatlas-press .content {
    padding-top: 8em;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 20%;
}

#nexatlas-press .image {
    text-align: center;
    max-width: 100%;
    height: auto;
}

#nexatlas-press .image>img {
    max-width: 100%;
    height: auto;
}

#nexatlas-press .text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

#nexatlas-press .text .left-text {
    align-self: center;
    flex-basis: 100%;
    font-size: 28px;
    line-height: 28px;
    color: #212121;
    text-align: right;
    padding-right: 0.5em;
    text-align: left;
}

#nexatlas-press .text .right-text {
    align-self: center;
    width: auto;
    padding-right: 0;
    flex-basis: 100%;
    text-align: left;
}

#nexatlas-press #nexatlas-press-bottom-images.footer {
    display: flex;
    width: 100%;
    justify-content: center;
}

#nexatlas-press #nexatlas-press-bottom-images.footer #press-accelerated-by {
    flex-basis: 29%;
    width: auto;
    padding-left: 13%;
}

#nexatlas-press #press-link-button-list {
    width: 100%;
    text-align: center;
}

@media (max-width: 32em) {
    .content {
        margin-left: 0;
    }
}

@media (min-width: 32em) {
    #nexatlas-press .content {
        margin: 0 15%;
    }
    #nexatlas-press .text .left-text {
        flex-basis: 30%;
        text-align: right;
    }
    #nexatlas-press .text .right-text {
        flex-basis: 60%;
        text-align: left;
    }
}
