
a{
    text-decoration: none !important;
}
.navigation {
    text-align:center;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	color: #2D393D;
	text-decoration:none;
}

.navigation li {
	display: inline;
}

.navigation li a,
.navigation li a:hover,
.navigation li.active a,
.navigation li.disabled {
	cursor: pointer;
	padding: 12px;
}

.navigation li a:hover,
.navigation li.active a {
	background-color: #00b96d;
    color:#fff;
}


.nexatlas-button {
    font-size: 13px;
    color: #FFF;
    border-radius: 30px;
    border: 2px solid #00a66d;
    background: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}


.nexatlas-button:hover {
    background: #00a66d;
    opacity: 1;
}
.footer
{
    position: absolute;
    bottom: 0px
    margin-top: 35px;
    width: 100%;
    background-color: #2D393D;
    height: 70px;
    padding-top: 15px;
}

.bar
{
    padding-top: 20px;
    width: 80%;
    margin:auto;
}
.imprensa-section
{
    margin-top: 10px;
    margin-bottom: 30px;

}

.grey
{
    color: #2D393D;
}

#body2
{
    background-color: #E9E9E9 !important;
}

.layer1
{
    margin-top: 15px;
}

.layer2
{
    display: none;
}

.selects
{

    color: #343C3F !important;
    width: 40%;
    margin: auto;
    margin-top: 15px !important;
}

.active-w{
    color: white !important;
}

.active-o{
    color: #03B96E !important;
}

.select-layer
{
    cursor: pointer;
    margin-top: 30px !important;
    width: 33%;
    font-weight: 500;
    text-decoration: underline;
}

.title2
{
    font-size: 1.3em;
    font-weight: 400;
}

.layer3
{
    display: none;
}

.my-row
{
    display: flex;
    max-width: 85% !important;
}

.background-white-layer
{
    background-color: white;
    color: #343C3F;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    padding: 10px;
    align-self:stretch;
    min-height: 230px;

}

.right-layer
{
    width: 320px;
    float: right;
}

.title
{
    font-weight: bold !important;

}

.text
{
    margin-top: 15px !important;
    font-size: 11px !important;
    font-weight: 120%;
}

.clear
{
    clear:both;
}

.link
{
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    float: right;
    text-decoration: underline

}

.link:hover
{
        color: #00A66D;
    
}


.left-layer
{
    width: 200px;
    float:left;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.img-center
{
    width: 100%;

}

@media (max-width: 1100px) {


}
@media (max-width: 900px) {
    .selects
    {
        width: 80% !important;
        margin-bottom: 35px;
    }
    .my-row
    {
        max-width: 100% !important;
        width: 100%;
    }


}





@media (max-width: 500px) {
    .left-layer
    {
        width: 50% !important;
    }

    .right-layer
    {
        width: 45% !important;
    }

    .selects
    {
        width: 100% !important;
        margin-bottom: 150px;
    }

    .layer2
    {
        padding-bottom: 20px;
    }

    .layer3
    {
        padding-bottom: 20px;
    }

}