
a{
    text-decoration: none !important;
}
a:link {color:#95999a ; }
a:visited {color:#95999a ;}


.text1
{
 color: #2D393D !important;
 font-weight: 350;
 line-height: 1em;
 font-size: 2.1em !important;
 text-align: right;
 margin-bottom: 1em;
}
.nexatlas-button {
    font-size: 13px;
    color: #FFF;
    border-radius: 30px;
    border: 2px solid #00a66d;
    background: transparent;
    text-transform: uppercase;
    padding: 10px 20px;
    cursor: pointer;
}


.nexatlas-button:hover {
    background: #00a66d;
    opacity: 1;
}
.footer
{
    position: absolute;
    bottom: 0px
    margin-top: 35px;
    width: 100%;
    background-color: #2D393D;
    height: 70px;
    padding-top: 15px;
}

.bar
{
    padding-top: 20px;
    width: 80%;
    margin:auto;
}
.imprensa-section
{
    margin-top: 10px;
    margin-bottom: 30px;

}

.grey
{
    color: #2D393D;
}

#body2
{
    background-color: #E9E9E9 !important;
}

.layer1
{
    margin-top: 15px;
}

.layer2
{
    display: none;
}

.selects
{

    color: #343C3F !important;
    width: 40%;
    margin: auto;
    margin-top: 15px !important;
}

.active-w{
    color: white !important;
}

.active-o{
    color: #03B96E !important;
}

.select-layer
{
    cursor: pointer;
    margin-top: 30px !important;
    width: 33%;
    font-weight: 500;
    text-decoration: underline;
}

.title2
{
    font-size: 1.3em;
    font-weight: 400;
}

.layer3
{
    display: none;
}



.background-white-layer
{
    background-color: white;
    color: #343C3F;
    margin-left: 10px !important;
    margin-right: 10px !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    min-height: 200px;
    padding-top: 10px;
}

.right-layer
{
    width: 320px;
    float: right;
}

.title
{
    font-weight: bold !important;

}

.text
{
    margin-top: 15px !important;
}

.clear
{
    clear:both;
}

.link
{
    margin-top: 5px;
    font-size: 12px;
    width: 100%;
    float: right;
    text-decoration: underline

}

.link:hover
{
        color: #00A66D;
    
}


.left-layer
{
    width: 200px;
    float:left;
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.img-center
{
    width: 100%;

}

@media (max-width: 1100px) {
.text1
{

 text-align: center;
}

}
@media (max-width: 900px) {
    .selects
    {
        width: 80% !important;
        margin-bottom: 35px;
    }


}





@media (max-width: 500px) {
    .left-layer
    {
        width: 50% !important;
    }

    .right-layer
    {
        width: 45% !important;
    }

    .background-white-layer
    {
        height: auto;
    }

    .selects
    {
        width: 100% !important;
        margin-bottom: 150px;
    }

    .layer2
    {
        padding-bottom: 20px;
    }

    .layer3
    {
        padding-bottom: 20px;
    }

}