#nexatlas-meteorologia {
    background: url(../images/background/meteorologia.jpg) center/cover;
}

#nexatlas-meteorologia .content {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
