html, body {
  height: 100%;
  width: 100%;
}

.content{
	padding: 1em 3em;
	padding-right: 15em;
	margin-left: 20%;
}

#content > section {
	top: 0px;
	bottom: 0px;
	overflow-y: auto;
    overflow-x: hidden;
	position: relative;
}

/*#content section h2 {
	text-transform: uppercase;
}*/
/*.nexatlas-content{
	height: 100vh;
}*/
#content > #nexatlas-home {

	/*text-align: center;*/
	height: 100vh !important;
	width: 100%;
	/*background-position: center center;
	background-size: cover; 
	background: url(../../images/background/home.jpg);*/

}

.row [class*='col-'] {
      border: 0px solid #C30A12;
}

#content > #nexatlas-home > .content {
	height: auto;
	width: auto;
	/*border: 2px solid black;*/
	margin: 0 24%;
	padding: 20% 0;
}

.content .content-title {
	font-weight: bold;
	margin-bottom: 1.5em;
	font-size: 2.8em;
}

.content .content-text {
	font-size: 0.7em;
	line-height: 1.2em;
}

#content #nexatlas-cartas{

	height: 100vh !important;
	background-position: center center !important;
	background-size: cover; 
	background: url(../../images/background/cartas.jpg);
	-webkit-overflow-scrolling: touch;
}

#content #nexatlas-rotas{

	height: 100vh !important;
	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/background/rotas.jpg);
	-webkit-overflow-scrolling: touch;
}

#content #nexatlas-meteorologia{

	height: 100vh !important;
	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/background/meteorologia.jpg) !important;
	-webkit-overflow-scrolling: touch;
}

#content #nexatlas-beta{
	/*background: url(../../images/background/beta.jpg);*/
	background-position: center;
}

@media (max-width: 1400px) and (min-width: 769px){
.container
	{
		width: 80% !important;
	}
}

@media (max-width: 768px) and (min-width: 500px){
.container
	{
		width: 70% !important;
	}
}
@media (max-width: 1280px) and (min-width: 769px)
{

	#content #nexatlas-meteorologia{

	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/tablets/imagem_metereologia_1280px.jpg);
	}
}



@media (max-width: 768px) and (min-width: 361px){
#content #nexatlas-cartas{

	background-position: center center !important;
	background-size: cover; 
	background: url(../../images/tablets/image_cartas.jpg);
}

#content #nexatlas-rotas{

	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/tablets/image_rotas.jpg);
}

#content #nexatlas-meteorologia{

	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/tablets/image_metereologia.jpg);
}

	
  
}

@media (max-width: 499px){
.container
	{
		width: 85% !important;
	}
}

.hidden-at-800
{
	display: block;
}
@media (max-width: 750px){
	.hidden-at-800
	{
		display: none !important;
	}
}


@media (max-width: 360px){
#content #nexatlas-cartas{

	background-position: center center !important;
	background-size: cover; 
	background: url(../../images/mobile/NEX_02_mobile_cartas.jpg);
}

#content #nexatlas-rotas{

	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/mobile/image_rotas.jpg);
}

#content #nexatlas-meteorologia{

	background-position: center center !important;
	background-size: cover; 	
	background: url(../../images/mobile/metereologia.jpg);

}

}

#content #nexatlas-blog{
	background: #e8e9e9;
}

#content #nexatlas-press{
	background: #00b96d;
	width: 100% !important;
	height: 100vh !important;
	-webkit-overflow-scrolling: touch;
}

@media only screen and (min-width: 1140px){
	.content, .horizontal-layout .content, .auto-layout .content{
		padding-right: 3em;
		padding-left: 3em;
	}
}

